@use 'sass:map';

@import '../../../assets/variables.scss';
@import '../../../assets/mixins.scss';

.footer {
  position: relative;
  height: 120px;
  background: map-get($colors, background-semi);
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }
}

.contacts {
  &__title {
    margin: 0 !important;
    margin-bottom: 5px !important;
    color: map-get($colors, text);
    font-size: 14px !important;

    @include respond-to(sm) {
      font-size: 16px !important;
    }

    @include respond-to(md) {
      font-size: 18px !important;
    }
  }

  &__item {
    display: block;
    width: max-content;
    margin: 5px 0px;
    color: map-get($colors, primary);
    text-decoration: none;
    font-size: 12px !important;
    font-weight: 400;

    @include respond-to(sm) {
      font-size: 14px !important;
    }

    @include respond-to(md) {
      font-size: 16px !important;
    }
  }
  &__item:hover {
    border-bottom: 1px solid map-get($colors, primary);
  }
}

.social {
  display: flex;
  height: 100%;

  &__item {
    padding: 5px;
    height: max-content;
    display: flex;
    font-size: 25px;
    text-decoration: none;
    color: map-get($colors, primary);
  }
}
