@use 'sass:map';

@import '../../../assets/mixins.scss';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 60px;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/background.jpg');
    background-position: center;
    background-size: 80%;
    opacity: 0.1;

    @include respond-to(sm) {
      background-size: 65%;
    }

    @include respond-to(md) {
      background-size: 55%;
    }

    @include respond-to(lg) {
      background-size: 45%;
    }

    @include respond-to(xl) {
      background-size: 35%;
    }

    @include respond-to(xxl) {
      background-size: 25%;
    }
  }

  &__container {
    display: flex;
    flex: 1 1 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
  }
}
